* {
    font-family: "Nunito", sans-serif;
}

header {
    transition: 0.4s;
}

header.absolute {
    position: absolute;
    width: 100%;
    z-index: 99;
}

header.fixed {
    position: fixed;
    width: 100%;
    z-index: 99;
    background: rgb(255, 255, 255);
}

/* header for absolute */

header.absolute .navbar .navbar-brand {
    font-family: "Lobster", sans-serif;
    font-size: 32px;
}

header.absolute .navbar .navbar-nav .nav-link {
    font-family: "Lobster", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 15px;
    color: rgb(255, 255, 255);
}

/* header for fixed */

header.fixed .navbar .navbar-brand {
    font-family: "Lobster", sans-serif;
    font-size: 32px;
}

header.fixed .navbar .navbar-nav .nav-link {
    font-family: "Lobster", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 15px;
    color: rgb(0, 0, 0);
}

.navbar .navbar-toggler {
    border: 0;
}

/* for header mobile */
@media (max-width: 991.98px) {
    header .navbar .navbar-collapse {
        background: rgb(255, 255, 255);
        margin-top: 20px;
    }

    header .navbar .navbar-nav .nav-link {
        color: rgb(0, 0, 0) !important;
    }

    header.absolute .navbar .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    header.fixed .navbar .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

.banner {
    background: url(../images/banner.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.banner::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.89);
    position: absolute;
    top: 0;
    left: 0;
}

.image-me {
    margin-top: 200px;
    width: 150px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(8, 114, 143));
}

.image-me img {
    max-width: 100%;
}

@media (max-width: 575.98px) {
    .image-me {
        margin-top: 150px;
    }
}

.display-5 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.f-lobster {
    font-family: "Lobster", sans-serif;
}

.icon {
    font-size: 60px;
}

.divider-page {
    width: 100%;
    height: 100px;
    background: rgb(73, 8, 166);
}

.nav-link.active {
    position: relative;
}

@media (min-width:992px) {
    .nav-link.active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 2px dotted rgb(22, 115, 223);
        margin-bottom: -2px;
    }
}

@media (max-width:991.98px) {
    .nav-link.active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 10%;
        margin-right: auto;
        border-bottom: 2px dotted rgb(22, 115, 223);
        margin-bottom: -2px;
    }
}
